<p class="title-module">{{ titulo }}</p>
<div class="line-division-black"></div>
<div class="subtitle-module">Datos de la Direccion</div>
<div class="col-md-12 line-division-yellow"></div>

<form [formGroup]="direccion" (ngSubmit)="SetGuardarDirecciones()">
  <div class="col-md-12">
    <div class="form-row">
      <div class="form-group col-md-1">
        <label class="lblgeneral">Id :</label>
        <input
          type="text"
          class="form-control input-sm"
          readonly
          formControlName="cvdireccion"
        />
      </div>
      <div class="form-group col-md-4">
        <label class="lblgeneral">Nombre del inmueble :</label>
        <input
          type="text"
          class="form-control input-sm"
          formControlName="descripcion"
          style="text-transform: uppercase"
        />

        <div
          class="line-division-red"
          *ngIf="direccion.controls['descripcion'].errors?.required"
        ></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-7">
          <label class="lblgeneral">Tipo Direccion :</label>
          <input
            type="text"
            class="form-control input-sm"
            formControlName="tipodireccion"
            style="text-transform: uppercase"
          />
          <div
            class="line-division-red"
            *ngIf="direccion.controls['tipodireccion'].errors?.required"
          ></div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="lblgeneral">Calle :</label>
        <input
          type="text"
          class="form-control input-sm"
          formControlName="nombrecalle"
          style="text-transform: uppercase"
        />
        <div
          class="line-division-red"
          *ngIf="direccion.controls['nombrecalle'].errors?.required"
        ></div>
      </div>

      <div class="form-group col-md-3">
        <label class="lblgeneral">Numero Exterior :</label>
        <input
          type="text"
          class="form-control input-sm"
          formControlName="numeroexterior"
        />
        <div
          class="line-division-red"
          *ngIf="direccion.controls['numeroexterior'].errors?.required"
        ></div>
      </div>

      <div class="form-group col-md-3">
        <label class="lblgeneral">Numero Interior :</label>
        <input
          type="text"
          class="form-control input-sm"
          formControlName="numerointerior"
        />
        <div
          class="line-division-red"
          *ngIf="direccion.controls['numerointerior'].errors?.required"
        ></div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="lblgeneral">Referencia de la Direccion :</label>
        <input
          type="text"
          class="form-control input-sm"
          formControlName="referencia"
          style="text-transform: uppercase"
        />
        <div
          class="line-division-red"
          *ngIf="direccion.controls['referencia'].errors?.required"
        ></div>
      </div>
      <!---buscar cb-->
      <div class="form-group col-md-4">
        <label class="lblgeneral">Buscar CP:</label>
        <input #cp type="text" class="form-control input-sm" placeholder="Buscar CP" />
      </div>
      <br />

      <i
        (click)="GetBuscarCP(cp)"
        class="glyphicon glyphicon-search gi-2x button-icon-black"
        id="searchcp"
      ></i>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="lblgeneral">Seleciones Colonia :</label>
        <select class="form-control input-sm" formControlName="cvcolonia">
          <option value="0">--Seleccione Colonia--</option>
          <option [value]="colonia.cvcolonia" *ngFor="let colonia of colonias">
            {{ colonia.nombrecolonia }}
          </option>
        </select>
        <div
          style="color: crimson"
          *ngIf="direccion.controls['cvcolonia'].errors?.required"
        ></div>
      </div>

      <div class="form-group col-md-3">
        <label class="lblgeneral">Seleccione Municipio :</label>
        <select
          #cvmunicipio
          (change)="GetBuscarColonias(cvmunicipio)"
          class="form-control input-sm"
          formControlName="cvmunicipio"
        >
          <option value="0">--Seleccione Municipio--</option>
          <option
            [value]="municipio.cvmunicipio"
            *ngFor="let municipio of municipios"
          >
            {{ municipio.nombremunicipio }}
          </option>
        </select>
        <div
          class="line-division-red"
          *ngIf="direccion.controls['cvmunicipio'].errors?.required"
        ></div>
      </div>

      <div class="form-group col-md-3">
        <label class="lblgeneral">Seleccione Estado :</label>

        <select
          #cvestado
          (change)="GetBuscarMunicipios(cvestado)"
          class="form-control input-sm"
          formControlName="cvestado"
        >
          <option value="0">--Seleccione Estado--</option>
          <option [value]="estado.cvestado" *ngFor="let estado of estados">
            {{ estado.nombreestado }}
          </option>
        </select>
        <div
          class="line-division-red"
          *ngIf="direccion.controls['cvestado'].errors?.required"
        ></div>
      </div>

      <div class="form-group col-md-2">
        <label class="lblgeneral">Seleccione Pais :</label>
        <select
          #cvpais
          (change)="GetBuscarEstados(cvpais)"
          class="form-control input-sm"
          formControlName="cvpais"
        >
          <option value="0">--Seleccione Pais--</option>
          <option [value]="pais.cvpais" *ngFor="let pais of paises">
            {{ pais.nombrepais }}
          </option>
        </select>
        <div
          class="line-division-red"
          *ngIf="direccion.controls['cvpais'].errors?.required"
        ></div>
      </div>
    </div>
  </div>
  <div class="form-group col-md-12">
    <input
      [disabled]="!direccion.valid"
      type="submit"
      value="Guardar"
      class="btn-black-process"
    />
  </div>
</form>
<div class="form-group col-md-12">
  <button
    [routerLink]="['/empresa-direccion/', cvempresa]"
    class="btn-yellow-process"
  >
    Regresar
  </button>
</div>

<div class="col-md-12">
  <div style="margin: 1em" *ngIf="direccion.valid == false">
    <div class="alert-yellow">
      El formulario no es valido , verifique que sean correctos los datos
    </div>
  </div>

  <div style="margin: 1em" *ngIf="direccion.valid == true">
    <div class="alert-black">
      El formulario es valido , puede guardar los datos
    </div>
  </div>
</div>
